<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatiyana</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        var socket = io();
        $('.chatAndSee').css("display" , "none");

        function setUsername(){
            socket.emit('setUsername', $('#username').val());
        }

        var user;
        socket.on('userExit', function(data){
            $('#username_error').html(data);
        });

        socket.on('userSet', function(data){
            user = data.username;
            $('#username_error').html("Username set");
            $('.chatAndSee').css("display" , "block");
        });

        $('form').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat message', {message: $('#takemsg').val(), user:user});
            $('#takemsg').val('');
            return false;
        });

        socket.on('newMsg', function(data){
            if(user){
                $('#messages').append($('<li>').text(data.user + ' : ' + data.message));
            }
        });
        socket.on('broadcast', function(data){
            $('#totalActive').html(data.description);
        });
    </script>

</body>
</html>