<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatiyana</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        var socket = io();
        $('.chatSection').css("display" , "none");

        function setUsername(){
            socket.emit('setUsername', $('#username').val());
        }

        var user;
        socket.on('userExit', function(data){
            $('#username_error').html(data);
        });

        socket.on('userSet', function(data){
            user = data.username;
            $('#joinedAs').html("Joined as " + user);
            $('.chatSection').css("display" , "block");
            $('.setUsername').css("display" , "none");
            $('.showMsg').append("<p class='recieveMsg'>Hey " + data.username + " welcome to the chat room</p>");
        });

        socket.on('newUserJoined', function(data){
            $('.showMsg').append("<p class='recieveMsg'>" + data + " joined the chat group</p>");
            //$('#showMsg').append($('<p class="recieveMsg">').text(data + ' joined the chat group'));
        });
        socket.on('UserLeft', function(data){
            $('.showMsg').append("<p class='recieveMsg'>" + data + " left the chat group</p>");
            //$('#showMsg').append($('<p class="recieveMsg">').text(data + ' left the chat group'));
        });

        $('form').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat message', {message: $('#takemsg').val(), user:user});
            $('.showMsg').append("<p class='sentMsg'>" + $('#takemsg').val() + "</p>");
            //$('#showMsg').append($('<p class="sentMsg">').text('You : ' + $('#takemsg').val()));
            $('#takemsg').val('');
            return false;
        });

        socket.on('newMsg', function(data){
            if(user){
                $('.showMsg').append("<p class='recieveMsg'>" + data.user + " : " + data.message + "</p>");
                //$('#showMsg').append($('<p class="recieveMsg">').text(data.user + ' : ' + data.message));
            }
        });
        //socket.on('broadcast', function(data){
        //    $('#totalActive').html(data.description);
        //    $('#allusers').empty();
        //    $.each(data.allUsers, function(key, value){
        //        $('#allusers').append($('<li>').text(value));
        //    });
            //for(var i=0; i<data.allUsers.length; i++){
            //    $('#allusers').append($('<li>').text(data.allUsers[i][1]));
            //}
        //});
    </script>

</body>
</html>