<div class="createRoomBox">
    <h4>Join any existing room</h4>
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
        <p><%= room %></p>
        <a href="/<%= room %>">Join</a>
        <% }) %>
    </div>

    <form action="/room" method="POST">
        <h4>OR</h4>
        <input name="room" type="text" required Placeholder="Enter the new room name"></br>
        <button type="submit">Create Room</button>
    </form>

</div>    