body{
    background-color: #41A4F3; 
    font-family: "Helvetica";
    color:white;
}
a{
    text-decoration:none;
}
header{
    border-bottom:1px solid white;
    border-radius: 50%;
    text-align:center;
    padding:20px;
}
header a{
    text-decoration:none;
    color:white;
    font-size:28px;
    font-weight:bold;
}
.createRoomBox{
    margin:auto;
    max-width:600px;
    margin-top: 80px;
    padding:20px;
    background-color: white;
    border-radius: 20px;
    text-align:center;
}
.createRoomBox input{
    width:75%;
    margin-bottom:30px;
}
#room-container{
    margin-bottom:30px;
}
#room-container p{
    margin-top:10px;
    color:#41A4F3;
    margin:0px;
}
.createRoomBox h4{
    color:#41A4F3;
}
.setUsername{
    margin:auto;
    height:100px;
    max-width:600px;
    margin-top: 80px;
    padding:20px;
    background-color: white;
    border-radius: 20px;
    text-align:center;
}
input{
    height:38px;
    padding:0px;
    margin:0px;
    font-size:12px;
    padding-left:20px;
    border:none;
    border:1px solid #bfbfbf;
    border-radius: 20px;
}
button{
    width:20%;
    height:40px;
    margin:0px;
    font-size:12px;
    border:none;
    border-radius: 20px;
    background-color: #41A4F3;
    color:white;
}
.setUsername input{
    width:75%;
    margin-bottom:30px;
}
#joinedAs{
    text-align:center;
    font-size:20px;
    font-weight: 100;
}
.chatSection{
    display:none;
    margin:auto;
    height:450px;
    max-width:600px;
    margin-top: 30px;
    padding:20px;
    background-color: white;
    border-radius: 20px;
}
.showMsg{
    height:390px;
    overflow-y: scroll;
    margin-bottom:20px;
}
.showMsg p{
    margin:0px;
    clear:both;
    max-width:250px;
    padding:10px;
    border-radius: 20px;
    margin-bottom:3px;
    font-size:14px;
}
.recieveMsg{
    float:left;
    color:#404040;
    background-color: #f2f2f2;
}
.sentMsg{
    float:right;
    color:white;
    background-color: #41A4F3;
}
.constructMsg input{
    width:75%;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
@media (max-width: 500px){
    header{
        padding:5px;
    }
    header a{
        font-size:20px;
    }
    button{
        width:50%;
    }
    .setUsername input{
        width:90%;
    }
    #joinedAs{
        font-size:12px;
    }
    .chatSection{
        height:400px;
        margin-top: 15px;
        padding:10px;
    }
    .showMsg{
        height:350px;
        margin-bottom:10px;
    }
    .showMsg p{
        font-size:12px;
    }
    .constructMsg input{
        width:65%;
    }
    .constructMsg button{
        width:25%;
    }
}
@media (max-width: 300px){
    .constructMsg input{
        width:60%;
    }
    .constructMsg button{
        width:20%;
    }
}